.about-us {
  &__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 88px;
    color: #000000;
  }
  &__item {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 85px;
    color: #000000;
  }
}
