.catalog__list {
  margin-bottom: 30px;
}

.catalog__item {
  @include margin-reset;
  width: 260px;
  margin-bottom: 30px;
  margin-left: 30px;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    display: flex;
    width: 634px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    display: block;
    width: 316px;
    margin-right: 31px;

    &--margin-reset {
      margin-right: 0;
    }
  }
}
