.registration__group {
  border: none;
}

.registration__text {
  width: 242px;
  margin-bottom: 44px;
  margin-left: 10px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.registration__title {
  position: relative;

  margin-bottom: 39px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $tiffany-color;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 56px;

    width: 198px;
    height: 1px;

    background-color: $tiffany-color;
  }
}

.registration__explanation {
  margin-bottom: 26px;
  margin-left: 14px;

  font-size: 14px;
  line-height: 16px;
}

.registration__button {
  margin-left: 14px;
  padding: 20px 45px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $text-color;
  text-transform: uppercase;

  border: 2px solid $text-color;
  // добавить миксин состояния
}

@media (min-width: $tablet-width) {
  .registration__text {
    width: 612px;
    padding-left: 50px;

    font-size: 17px;
    line-height: 30px;
  }

  .registration__wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .registration__explanation {
    width: 300px;
  }

  .registration__button {
    width: 268px;
    margin-right: -137px;
  }
}

@media (min-width: $desktop-width) {
  .registration__text {
    width: 672px;
    margin: 0 auto;
  }

  .registration__button {
    margin-right: 174px;
  }

  .registration__explanation {
    margin-right: 115px;
  }
}

// это отдельная секция
.group-type__item {
  margin-bottom: 35px;
}

.group-type__label {
  position: relative;

  display: block;
  width: 154px;
  margin-left: 69px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: -51px;

    width: 40px;
    height: 40px;

    border: 2px solid #000000;
    border-radius: 50%;
  }
}

/* не работает
.group-type__label:checked {
  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -55px;
    width: 16px;
    height: 16px;
    background-color: $tiffany-color;
    border-radius: 50%;
  }
}*/
.group-color__item {
  margin-bottom: 46px;
}

.group-color__label {
  position: relative;

  display: block;
  margin-left: 69px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: -51px;

    width: 40px;
    height: 39px;

    border: 2px solid #000000;
  }
}

.user-data__label {
  display: block;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
}

.user-data__input {
  width: 260px;
  margin-bottom: 24px;
  padding: 18px 2px;

  border: none;
  box-shadow: inset 0 -2px 0 #000000;
}

.user-contacts__label {
  position: relative;

  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $tiffany-color;
  text-transform: uppercase;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 56px;

    width: 198px;
    height: 1px;

    background-color: $tiffany-color;
  }
}

.user-contacts__input {
  width: 260px;
  margin-bottom: 24px;
  padding: 18px 2px;

  border: none;
  box-shadow: inset 0 -2px 0 #000000;

  &--comment {
    border: 2px solid #000000;
    box-shadow: none;
  }
}

@media (min-width: $tablet-width) {
  .group-type {
    display: flex;
  }

  .registration__title {
    width: 50px;
    margin-left: 50px;

    &::before {
      display: none;
    }
  }

  .group-type__list {
    width: 250px;
  }

  .group-color {
    background-color: #f1f1f1;
  }

  .user-data {
    display: flex;
  }

  .registration__title {
    width: 50px;
  }

  .user-data__list {
    width: 550px;
  }

  .user-contacts__item {
    display: flex;
  }

  .user-contacts__label {
    width: 71px;
    margin-right: 100px;
    margin-left: 50px;

    &::before {
      display: none;
    }
  }

  .user-contacts__input {
    width: 501px;
  }
}

@media (min-width: $desktop-width) {
  .user-contacts__label {
    margin-right: 82px;
    margin-left: 112px;
  }

  .user-contacts__input {
    width: 700px;
    margin-bottom: 24px;
  }
}
