.header {
  min-height: 80px;
  border-bottom: 1px solid #ececec;

  .header__logo-link {
    margin-left: 116px;
    margin-right: 67px;
  }

  &__button {
    border: none;
    background-color: transparent;
  }
}

.header-toggle {

  &__logo-link {
    margin-left: 116px;
    margin-right: 67px;
  }
}

.site-nav {
  &__item {
    text-align: left;
    border-bottom: 1px solid #ececec;
    padding: 19px 69px;
  }

  &__link {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
  }

  &__button {
    border: none;
    background-color: transparent;
    margin-left: -50px;
    margin-right: 14px;
  }
}
