.catalog-menu__item {
  background-color: #63d1bb;
  margin-bottom: 1px;

  .catalog-menu__link {
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    width: 106px;
    padding: 30px 29px;
    display: block;
  }
}
.catalog-menu__item--background-dark {
  background-color: #56c3b2;
}
