.reviews {
  margin-left: 6px;
}

.reviews__title {
  margin-bottom: 38px;
  margin-left: 30px;
  color: #000000;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  margin-bottom: 40px;
  width: 244px;
}

.reviews__autor-name {
  margin-bottom: 10px;
  margin-left: 39px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #000000;
}

.reviews__autor-link {
  margin-left: 39px;

  font-weight: 400;
  line-height: 30px;
  color: $text-color;
}

.reviews__wrapper-button {
  margin-top: 20px;
  width: 257px;
  margin-bottom: 53px;
  margin-left: 37px;
  display: flex;
}

.reviews-card__button {
  border: 1px solid $border-color;
  padding: 9px 35px;
}

.reviews__button {
  width: 50px;
  margin-right: 80px;
}

.reviews-card__button-icon {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__link {
  padding: 20px 80px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: $text-color;
  text-transform: uppercase;
  margin-left: 30px;

  border: 2px solid $text-color;

  &:hover {
    color: #ececec;

    background-color: #444444;
  }

  &:active {
    // уточнить свойство rgba
    color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: $tablet-width) {
  .reviews {
    background-color: #ffffff;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 87px;
  }
  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    width: 642px;
    margin-bottom: 68px;
  }
  .reviews__autor-name {
    font-size: 18px;
  }
  .reviews__autor-link {
    display: block;
  }
}
@media (min-width: $desktop-width) {
  .reviews {
    padding-left: 174px;
  }
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 87px;
  }
}
