html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $text-color;

  background-color: $main-background;

  a {
    color: #000000;
    text-decoration: none;
  }

  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
  }
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;

  @include list-default;
}

.button {
  cursor: pointer;

  @include button-default;

  &--style {
    @include button-style;
  }
}

@media (min-width: $mobile-width) {
  .page-container {
    width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .page-container {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-container {
    width: $desktop-width;
    margin: 0 auto;
  }
}

.close {
  display: none;
}

.open {
  display: block;
}
