.catalog__list {
  margin-bottom: 30px;
}

.catalog__item {
  width: 260px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.product-card__image {
  margin-bottom: -10px;

  background-color: #dcdcdc;
}

.product-card__wrapper {
  padding: 30px 27px;

  border: 1px solid $border-color;
}

.product-card__link-name {
  margin: 0 auto;
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.product-card__description {
  margin-bottom: 55px;

  font-size: 13px;
  line-height: 30px;
}

.product-card__wrapper-flex {
  display: flex;
}

.product-card__price {
  width: 74px;
  margin-top: -2px;
  margin-right: 111px;

  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

//сделать рефакторинг
.product-card__button {
  width: 20px;
  height: 19px;

  background-color: transparent;
  border: none;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    display: flex;
    width: 634px;
  }

  .product-card__image {
    width: 334px;
    height: 334px;
  }

  .product-card__wrapper {
    width: 350px;
  }

  .product-card__link-name {
    font-size: 20px;
  }

  .product-card__description {
    margin-bottom: 161px;

    &--margin-reset {
      margin-bottom: 130px;
    }
  }

  .product-card__price {
    width: 90px;

    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    display: block;
    width: 316px;
    margin-right: 31px;

    &--margin-reset {
      margin-right: 0;
    }
  }

  .product-card__wrapper {
    width: 334px;
  }

  .product-card__link-name {
    font-size: 20px;
    line-height: 24px;
  }

  .product-card__description {
    margin-bottom: 71px;

    line-height: 30px;

    &--margin-reset {
      margin-bottom: 40px;
    }
  }
}
