.group-type__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.group-color__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.user-data__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.user-contacts__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $tiffany-color;
  text-transform: uppercase;
}
