.footer {
  position: relative;

  width: 100%;
  margin-top: 39px;

  background-color: #f1f1f1;
}

.footer__logo-link {
  position: absolute;

  display: none;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    padding: 26px 36px;
  }

  .footer__logo-link {
    position: static;

    display: block;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    min-height: 90px;
    padding: 26px 43px;
  }
}
