.header {
  // min-height: 80px;

  border-bottom: 1px solid $border-color;
  position: relative;
}

.header__wrapper {
  display: flex;
}

.header__logo-link {
  width: 86px;
  margin-right: 61px;
  margin-left: 30px;
}

.header__button {
  margin-top: -6px;
  @include button-default;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;

    border-bottom: none;
    background-color: #ffffff;
  }
  .header__logo-link {
    margin-right: 64px;
    margin-left: -2px;
    margin-top: 3px;
  }
  .header-navigation-menu {
    width: auto;
  }

  .header__wrapper {
    width: 50%;

    border-right: 1px solid #ececec;
  }

  .header__button {
    position: absolute;

    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    background-color: #ffffff;
  }

  .header__navigation-menu {
    width: auto;
  }
}
