.footer {
  margin-top: 39px;

  background-color: #f1f1f1;
}

@media (min-width: $mobile-width) {
  .footer__logo-image {
    position: absolute;

    display: none;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    align-items: baseline;
    padding: 11px 50px;
  }

  .footer__logo-image {
    position: static;

    display: block;
  }
}
