.header {
  min-height: 80px;

  border-bottom: 1px solid $border-color;
}

.header__logo-link {
  width: 86px;
  margin-right: 67px;
  margin-left: 116px;
}
.site-nav__item {
  padding: 19px 69px;

  text-align: left;

  border-bottom: 1px solid $border-color;
}

.site-nav__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.site-nav__button {
  margin-right: 14px;
  margin-left: -50px;
}
.button__icon {
  fill: #d3d2d2;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;

    background-color: #ffffff;
  }

  .header-navigation-menu {
    width: auto;
  }

  .header__wrapper {
    width: 50%;

    border-right: 1px solid #ececec;
  }

  .header__button {
    position: absolute;

    display: none;
  }

  .site-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-nav__item {
    width: 50%;

    border-right: 1px solid #ececec;

    &--search {
      order: 1;
    }

    &--basket {
      order: 2;
    }
  }

  .site-nav__link--hidden {
    position: absolute;

    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    background-color: #ffffff;
  }

  .header__navigation-menu {
    width: auto;
  }

  .header__wrapper {
    position: absolute;

    display: none;
  }

  .site-nav__list {
    display: flex;
  }

  .site-nav__item {
    width: 25%;
    padding-top: 26px;

    border-right: 1px solid #ececec;

    &--reset-border {
      border-right: none;
    }
  }
}
