.header {
  min-height: 80px;

  border-bottom: 1px solid $border-color;
}

.header__logo-link {
  width: 86px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
}

.header__button {
  width: 20px;
  margin-left: 67px;

  @include button-default;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;

    background-color: #ffffff;
    border-bottom: none;
  }

  .header-navigation-menu {
    width: auto;
  }

  .header__logo-link {
    margin-left: 48px;
  }

  .header__button {
    position: absolute;

    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    background-color: #ffffff;
  }

  .header__navigation-menu {
    width: auto;
  }

  .site-nav__item {
    width: 25%;
    padding-top: 26px;

    border-right: 1px solid #ececec;

    &--reset-border {
      border-right: none;
    }
  }
}
