@mixin buttons-state {
  color: $text-color;
  text-transform: uppercase;

  background-color: $main-background;
  border: 2px solid $text-color;

  &:hover {
    color: #ececec;

    background-color: #444444;
  }
}
@mixin button-default {
  border: none;
  background-color: transparent;
}
@mixin list-default {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin icon-state {
    &:hover {
      fill: #46c1ae;
      transition: 0.2
      }

    &:active {
      opacity: 0.3;
      transition: 0.2;
    }
  }
.social-item__link--icon {
  @include icon-state;
}
