.about-us {
  padding-top: 6px;
  padding-left: 2px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 5px 10px;

  margin: 0 auto;
}

.about-us__title {
  margin-bottom: 86px;
  margin-left: -75px;
  padding-top: 15px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.about-us__item {
  position: relative;

  width: 174px;
  margin-bottom: 85px;
  margin-left: 30px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;

  @include margin-reset;
  @include margin-reset;


  &::before {
    content: "";
    position: absolute;
    top: -56px;
    left: -4px;

    display: block;
    width: 55px;
    height: 38px;


    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--saving {
    margin-bottom: 83px;
    width: 200px;

    &::before {
      top: -60px;
      background-image: url("../img/icon-feature-money.svg");
    }
  }

  &--like {
    width: 180px;
    margin-bottom: 84px;

    &::before {
      top: -53px;
      background-image: url("../img/icon-feature-heart.svg");
    }
  }

  &--knitting {
    width: 211px;
    margin-bottom: 83px;

    &::before {
      top: -55px;
      left: -9px;


      background-image: url("../img/icon-feature-ball.svg");
    }
  }

  &--patriotism {
    width: 253px;
    margin-bottom: 83px;

    &::before {
      top: -58px;
      left: -6px;
      background-image: url("../img/icon-feature-rocket.svg");
    }
  }

  &--present {
    width: 201px;

    &::before {
      width: 53px;
      height: 34px;
      top: -57px;
      left: -8px;
      background-image: url("../img/icon-feature-gift.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-bottom: 28px;
    padding-left: 50px;
  }

  .about-us__title {
    margin-bottom: 105px;
    margin-left: -405px;
    padding-top: 33px;

    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    width: 737px;
    margin-left: -27px;
  }

  .about-us__item {
    width: 210px;

    font-size: 20px;
    line-height: 22px;

    &--eco {
      order: 1;
      margin-right: 92px;
      margin-bottom: 110px;
    }

    &--saving {
      width: 239px;
      order: 3;
      margin-right: 60px;
      margin-bottom: 112px;
    }

    &--like {
      width: 224px;
      order: 5;
      margin-right: 80px;
    }

    &--knitting {
      width: 272px;
      order: 2;
    }

    &--patriotism {
      width: 309px;
      order: 4;
    }

    &--present {
      width: 235px;
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding-left: 222px;
    margin-bottom: 31px;
    width: 1183px;
  }

  .about-us__title {
    padding-top: 42px;
    margin-bottom: 102px;
    margin-left: -534px;

    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    width: 950px;
  }

  .about-us__item {
    width: 216px;
    margin-right: 106px;

    line-height: 22px;

    &--knitting {
      width: 247px;
    }

    &--saving {
      width: 241px;
      margin-right: 80px;
    }

    &--patriotism {
      width: 305px;
    }

    &--present {
      width: 244px;
    }
  }
}
