.about-us {
  margin-left: 2px;
}

.about-us__title {
  margin-bottom: 86px;
  margin-left: -75px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.about-us__item {
  position: relative;

  width: 251px;
  margin-bottom: 81px;
  margin-left: 30px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;

  @include margin-reset;
  @include margin-reset;


  &::before {
    content: "";
    position: absolute;
    top: -56px;
    left: -4px;

    display: block;
    width: 55px;
    height: 38px;

    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--saving {
    margin-bottom: 83px;

    &::before {
      top: -60px;

      background-image: url("../img/icon-feature-money.svg");
    }
  }

  &--like {
    margin-bottom: 84px;

    &::before {
      top: -53px;

      background-image: url("../img/icon-feature-heart.svg");
    }
  }

  &--knitting {
    margin-bottom: 83px;

    &::before {
      top: -53px;
      left: -6px;

      background-image: url("../img/icon-feature-ball.svg");
    }
  }

  &--patriotism {
    margin-bottom: 83px;

    &::before {
      top: -58px;
      left: -6px;

      background-image: url("../img/icon-feature-rocket.svg");
    }
  }

  &--present {
    &::before {
      top: -57px;
      left: -8px;

      background-image: url("../img/icon-feature-gift.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-bottom: 23px;
    margin-left: 50px;
  }

  .about-us__title {
    margin-bottom: 103px;
    margin-left: -414px;

    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    width: 737px;
    margin-left: -27px;
  }

  .about-us__item {
    width: 295px;

    font-size: 20px;
    line-height: 22px;

    &--eco {
      order: 1;
      margin-right: 10px;
      margin-bottom: 110px;
    }

    &--saving {
      order: 3;
      margin-right: 10px;
      margin-bottom: 112px;
    }

    &--like {
      order: 5;
      margin-right: 10px;
    }

    &--knitting {
      order: 2;
    }

    &--patriotism {
      order: 4;
    }

    &--present {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    margin-bottom: 32px;
    margin-left: 222px;
  }

  .about-us__title {
    margin-bottom: 100px;
    margin-left: -547px;

    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    width: 950px;
  }

  .about-us__item {
    width: 290px;
    margin-right: 31px;

    line-height: 22px;
  }
}
