.about-us__title {
  margin-bottom: 88px;
  margin-left: -75px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.about-us__item {
  position: relative;

  width: 251px;
  margin-bottom: 85px;
  margin-left: 30px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;

  @include margin-reset;


  &::before {
    content: "";
    position: absolute;
    top: -57px;
    left: 7px;

    display: block;
    width: 55px;
    height: 38px;

    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--saving {
    &::before {
      background-image: url("../img/icon-feature-money.svg");
    }
  }

  &--like {
    &::before {
      background-image: url("../img/icon-feature-heart.svg");
    }
  }

  &--knitting {
    &::before {
      background-image: url("../img/icon-feature-ball.svg");
    }
  }

  &--patriotism {
    &::before {
      background-image: url("../img/icon-feature-rocket.svg");
    }
  }

  &--present {
    &::before {
      background-image: url("../img/icon-feature-gift.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-left: 50px;
  }

  .about-us__title {
    margin-bottom: 95px;
    margin-left: -409px;

    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    width: 737px;
  }

  .about-us__item {
    width: 295px;

    font-size: 20px;
    line-height: 22px;

    &--eco {
      order: 1;
    }

    &--saving {
      order: 3;
    }

    &--like {
      order: 5;
    }

    &--knitting {
      order: 2;
    }

    &--patriotism {
      order: 4;
    }

    &--present {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    margin-left: 196px;
  }

  .about-us__title {
    margin-bottom: 131px;
    margin-left: -572px;

    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    width: 937px;
  }

  .about-us__item {
    width: 290px;
    margin-right: 148px;

    line-height: 22px;
  }
}
