.contacts__title {
  margin-top: 95px;
  margin-bottom: 42px;
  margin-left: 30px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__list {
  margin-bottom: 42px;
  margin-left: 30px;
}

.contacts__item {
  display: flex;

  @include margin-reset;
  @include margin-reset;
}

.contacts__subtitle {
  width: 70px;
  margin-right: 22px;
}

.contacts__address {
  width: 175px;
  margin-top: 17px;

  font-style: normal;
  color: $text-color;
}

.contacts__map {
  max-width: 322px;
  max-height: 457px;
  margin-bottom: 39px;
}

.contacts__link {
  margin-left: 30px;
  padding: 19px 52px;

  @include button-style;
}
