.group-type {
  margin-bottom: 14px;
}

.group-type__item {
  margin-left: 49px;

  @include margin-reset;

  &:first-child {
    width: 150px;
  }
}

.group-type__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .group-type {
    margin-bottom: 68px;
  }

  .group-type__item {
    margin-bottom: 45px;
    &:first-child {
      width: 300px;
    }
  }
}

@media (min-width: $desktop-width) {
  .group-type {
    margin-bottom: -44px;
  }
  .group-type__list {
    margin-left: -48px;
  }
  .group-type__label {
    font-size: 19px;
    line-height: 18px;
  }
  .group-type__item {
    margin-bottom: 45px;
  }
}
