.group-type {
  margin-bottom: 14px;
}

.group-type__item {
  margin-left: 49px;

  @include margin-reset;

  &:first-child {
    width: 150px;
  }
}

.group-type__label {
  position: relative;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  cursor: pointer;

  &::before {
    content: " ";
    position: absolute;
    top: -7px;
    left: -62px;

    width: 40px;
    height: 38px;

    border: 2px solid #444444;
    border-radius: 50%;
  }
}

.group-type__input:checked+.group-type__label::after {
  content: " ";
  position: absolute;
  top: 0;
  left: -44px;

  width: 20px;
  height: 20px;

  background-color: $tiffany-color;
  border-radius: 50%;
}

.group-type__input:hover+.group-type__label::before,
.group-type__input:focus+.group-type__label::before {
  border-color: #62d1ba;
  opacity: 1;
}

.group-type__input:active+.group-type__label::before {
  border-color: #444444;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .group-type {
    margin-bottom: 10px;
  }

  .group-type__list {
    width: 500px;
    margin-top: 5px;
  }

  .group-type__item {
    margin-bottom: 45px;

    &:first-child {
      width: 300px;
    }
  }

  .group-type__label {
    &::before {
      top: -11px;
      left: -81px;

      width: 52px;
      height: 51px;
    }
  }

  .group-type__input:checked + .group-type__label::after {
    top: 0;
    left: -65px;

    width: 25px;
    height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .group-type {
    margin-bottom: -41px;
  }

  .group-type__list {
    margin-left: -48px;
    margin-top: 7px;
  }

  .group-type__label {
    font-size: 19px;
    line-height: 18px;
  }

  .group-type__item {
    margin-bottom: 45px;
  }
}
