.group-type__item {
  margin-bottom: 25px;

  @include margin-reset;
}

.group-type__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

@media (min-width: $desktop-width) {
  .group-type__label {
    font-size: 19px;
    line-height: 18px;
  }
}
