.logo {
  display: flex;
  padding-top: 22px;
  padding-bottom: 13px;

  border-bottom: 1px solid $border-color;
}

.logo__link {
  width: 86px;
  margin-right: 62px;
  margin-left: 85px;
}
.logo__image {
  &:hover,
  &:focus {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  &--main {
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }
}
.logo__button {
  width: 320px;
  margin-top: -9px;
}

.logo__icon {
  opacity: 0.2;
  &:hover,
  &:focus {
    fill: $tiffany-color;
    opacity: 1;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    order: 1;
    width: 371px;
    padding-bottom: 11px;

    border-right: 1px solid $border-color;
  }

  .logo__button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    order: 2;
    width: 168px;

    border: none;
  }

  .logo__link {
    margin-top: -13px;
    margin-left: 77px;
  }
}
