.nav-controls__item {
  padding: 13px 51px;

  text-align: left;

  border-bottom: 1px solid $border-color;

  @include margin-reset;

  &--search,
  &--basket {
    margin-left: -31px;
  }

  &:hover>.logo__icon,
  &:focus>.logo__icon {
    opacity: 1;

    transition: 0.2;

    fill: #46c1ae;
  }

  &:active>.logo__icon {
    opacity: 0.3;

    transition: 0.2;
  }
}

.nav-controls__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.nav-controls__item:hover>.nav-controls__link,
.nav-controls__item:focus>.nav-controls__link {
  opacity: 0.6;
}

.nav-controls__item:focus>.nav-controls__link {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .nav-controls {
    display: flex;
    order: 1;
    width: 397px;
  }

  .nav-controls__item {
    width: 200px;

    &--search {
      width: 0;
      margin-left: 0;

      border-right: 1px solid #ececec;
    }

    &--basket {
      margin-left: 109px;
    }
  }

  .nav-controls__button {
    margin-top: 22px;
    margin-left: -25px;

    &--basket {
      margin-top: 20px;
      margin-left: -142px;
    }
  }

  .nav-controls__link--hidden {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .nav-controls {
    order: 3;
    margin-bottom: 14px;
    margin-left: 126px;
  }

  .nav-controls__item {
    &--search {
      border-left: 1px solid $border-color;
    }
  }
}
