.production__title {
  width: 121px;
  margin-bottom: 26px;
  margin-left: 127px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.production__video-wrapper {
  min-width: 260px;
  min-height: 150px;
}

.production__image {
  margin-bottom: 34px;
  margin-left: 30px;
}

.production__text {
  width: 183px;
  margin-bottom: 29px;
  margin-left: 64px;
}

.production__link {
  margin-left: 64px;
  padding: 20px 26px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $text-color;
  text-transform: uppercase;

  border: 2px solid $text-color;
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 109px;
  }
  .production__video-wrapper {
    min-width: 668px;
    min-height: 455px;
    margin-bottom: 43px;
  }
  .production__title {
    width: 250px;
    font-size: 20px;
    line-height: 24px;
    margin-left: 150px;
  }
  .production__wrapper-flex {
    display: flex;
    flex-direction: column-reverse;
  }
  .production__text {
    width: 564px;
    margin-left: 150px;
    margin-bottom: 40px;
  }
  .production__link {
    padding: 15px 241px;
  }
}
@media (min-width: $desktop-width) {
  .production {
    margin-right: 105px;

  }
  .production__video-wrapper {
    min-width: 682px;
    min-height: 455px;
  }
}
