.production {
  margin-bottom: 101px;
  margin-left: 5px;
  padding-bottom: 39px;

  @include product-state;
}

.production__title {
  position: relative;

  width: 121px;
  margin-bottom: 25px;
  margin-left: 122px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -61px;

    width: 32px;
    height: 32px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.production__video-wrapper {
  position: relative;

  min-width: 260px;
  min-height: 150px;
  margin-bottom: -4px;
}

.production__image {
  margin-left: 30px;
}

.production__button {
  position: absolute;
  top: 43px;
  left: 98px;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__text {
  width: 183px;
  margin-bottom: 36px;
  margin-left: 64px;

  line-height: 25px;
}

.production__link {
  margin-left: 64px;
  padding: 14px 23px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $text-color;
  text-transform: uppercase;

  border: 2px solid $text-color;
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 121px;
    margin-left: 20px;
  }

  .production__video-wrapper {
    min-width: 668px;
    min-height: 455px;
    margin-bottom: 12px;
  }

  .production__title {
    width: 250px;
    margin-bottom: 21px;
    margin-left: 137px;

    font-size: 20px;
    line-height: 24px;

    &::before {
      top: -7px;
      left: -65px;
    }
  }

  .production__wrapper-flex {
    display: flex;
    flex-direction: column-reverse;
  }

  .production__button {
    top: 205px;
    left: 304px;
  }

  .production__text {
    width: 564px;
    margin-bottom: 46px;
    margin-left: 70px;

    line-height: 28px;
  }

  .production__link {
    margin-left: 71px;
    padding: 14px 220px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    position: relative;

    margin-bottom: 177px;
    margin-left: 32px;
  }

  .production__video-wrapper {
    position: absolute;
    top: -1px;
    left: -12px;

    min-width: 682px;
    min-height: 455px;
  }

  .production__image {
    &:before {
      top: -253px;
      left: 290px;
    }
  }

  .production__title {
    width: 150px;
    margin-top: 96px;
    margin-bottom: 22px;
    margin-left: 777px;

    &::before {
      top: -3px;
      left: -52px;
    }
  }

  .production__text {
    width: 222px;
    margin-bottom: 61px;
    margin-left: 779px;
  }

  .production__link {
    width: 100px;
    margin-left: 780px;
    padding: 16px 42px;
  }
}
