.promo-menu__link {
  position: relative;

  display: block;
  width: 106px;
  padding: 27px 30px;
  padding-right: 290px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;

  background-color: $tiffany-color;

  &:hover,
  &:focus {
    box-shadow: 0 -5px 0 0 $tiffany-color;
  }

  &:active {
    opacity: 0.5;
  }

  &::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 247px;

    display: block;
    width: 61px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0.5;
  }

  &--interrior {
    &::before {
      background-image: url("../img/icon-interior.svg");
    }
  }

  &--toys {
    background-color: #56c3b2;

    &:hover,
    &:focus {
      box-shadow: 0 -5px 0 0 #56c3b2;
    }

    &:active {
      opacity: 0.5;
    }

    &::before {
      top: 31px;
      left: 239px;

      background-image: url("../img/icon-toy.svg");
    }
  }
}

.promo-menu__link:hover > .promo-menu__content,
.promo-menu__link:focus > .promo-menu__content {
  display: block;
  margin-top: -5px;
  margin-bottom: 5px;
}

.promo-menu__link:active > .promo-menu__content {
  opacity: 0.7;
}

.promo-menu__link:hover::before,
.promo-menu__link:focus::before {
  margin-top: -5px;
}

.promo-menu__link:active::before {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .promo-menu__link {
    padding: 27px 34px;
    padding-right: 299px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .promo-menu__wrapper {
    margin-top: 355px;
    margin-bottom: -74px;
    margin-left: 51px;
  }

  .promo-menu__link {
    width: 525px;

    &::before {
      left: 437px;
    }

    &--toys {
      width: 518px;

      &::before {
        left: 428px;
      }
    }
  }
}
