.registration {
  margin-left: 30px;
}

.registration__group {
  border: none;
}

.registration__text {
  width: 242px;
  margin-bottom: 5px;
  margin-left: 2px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.registration__title {
  margin-bottom: 29px;
  position: relative;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $tiffany-color;
  text-transform: uppercase;

  &--type {
    margin-left: -14px;
  }

  &--user-data {
    margin-bottom: 22px;
    margin-top: 4px;
  }
  &::before {
    content: " ";
    position: absolute;
    width: 200px;
    height: 1px;
    top: 7px;
    left: 62px;
    background-color: $tiffany-color;
  }
}

.registration__wrapper {
  margin-top: -61px;
}

.registration__explanation {
  margin-bottom: 29px;

  font-size: 14px;
  line-height: 16px;
}

.registration__button {
  padding: 14px 40px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $text-color;
  text-transform: uppercase;

  border: 2px solid $text-color;

  @include button-style;
}

@media (min-width: $tablet-width) {
  .registration {
    padding-left: 19px;
  }

  .registration-group {
    margin-left: 51px;
  }

  .registration__text {
    width: 612px;
    margin-bottom: 57px;

    font-size: 17px;
    line-height: 30px;
  }

  .registration__wrapper-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -4px;
  }

  .registration__title {
    width: 36px;
    margin-right: 161px;
    margin-left: 3px;

    &--type {
      margin-left: -12px;
    }

    &--user-data {
      margin-right: 133px;
    }

    &::before {
      display: none;
    }
  }

  .registration__wrapper {
    display: flex;
    width: 668px;
    flex-direction: row-reverse;
    margin-top: -131px;
    margin-bottom: -12px;
  }

  .registration__explanation {
    width: 397px;
    font-size: 16px;
  }

  .registration__button {
    margin-right: 138px;
    margin-top: -1px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 5px;
    flex-basis: 291px;
 }
}

@media (min-width: $desktop-width) {
  .registration {
    margin-bottom: -40px;
    padding-left: 0;
    width: auto;;
    margin-left: 0;
  }

  .registration__wrapper-group {
    margin-bottom: 50px;
  }

  .registration__group {
    margin-bottom: 25px;

    &--color {
      background-color: #f1f1f1;
    }
  }

  .registration__wrapper {
    width: 1055px;
    margin: 0 auto;
  }
  .registration__text {
    width: 672px;
    margin-left: 78px;
    margin: 0 auto;
  }

  .registration__title {
    margin-right: 113px;

    &--type {
      margin-right: 156px;
      margin-left: -48px;
    }

    &--user-data {
      margin-right: 84px;
    }
  }

  .registration__wrapper {
    margin-top: -76px;
    margin-right: 188px;
    width: 700px;
    margin-left: 126px;
  }

  .registration__button {
    width: 228px;
    margin-right: 173px;
    margin-left: -24px;
    padding: 11px 10px;
  }
}
