.reviews {
  margin-top: -31px;
}

.reviews__title {
  margin-bottom: 24px;
  margin-left: 30px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__wrapper {
  margin-bottom: 40px;
}

.reviews__text {
  margin-bottom: 24px;
  margin-left: 28px;
  width: 270px;
}

.reviews__autor-name {
  margin-top: 40px;
  margin-left: 28px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #000000;
}

.reviews__autor-link {
  margin-left: 30px;

  font-weight: 400;
  line-height: 30px;
  color: $text-color;
}

.reviews__wrapper-button {
  width: 258px;
  margin-top: -13px;
  margin-bottom: 52px;
  margin-left: 31px;
  padding: 7px 35px;
  position: relative;

  border: 1px solid #ececec;
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 52px;
    top: -1px;
    left: 128px;
    background-color: #ececec;
  }
}

.reviews__button {
  width: 75px;
  height: 25px;
  margin-right: -5px;
  padding: 15px 27px;

  @include arrow-state;

  &--back {
    margin-right: 37px;
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0;
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: 15px;
  }
}

.reviews__link {
  margin-left: 30px;
  padding: 12px 78px;

  @include button-style;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: -18px;
    display: flex;
    padding-top: 32px;
    padding-left: 20px;

    background-color: #ffffff;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left;

    @media (min-resolution: $retina-dppx) {

      background-image: url("../img/review@2x.jpg");
      background-size: 415px auto;
    }
  }

  .reviews__wrapper-content {
    margin-right: -232px;
  }

  .reviews__wrapper-flex {
    width: 497px;
  }

  .reviews__title {
    padding-top: 15px;
    margin-bottom: 58px;
    margin-left: 26px;

    font-size: 46px;
  }

  .reviews__wrapper {
    margin-bottom: 48px;
  }

  .reviews__text {
    z-index: 1;
    font-size: 16px;

    width: 658px;
    margin-bottom: 54px;
  }

  .reviews__autor-link {
    display: block;
  }

  .reviews__wrapper-flex-buttons {
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
  }

  .reviews__wrapper-button {
    margin-bottom: 52px;
    margin-left: 12px;

    border: none;
  }

  .reviews-card__button {
    margin-bottom: 0;

    border: none;
  }

  .reviews__button {
    &--back {
      margin-right: -7px;
    }
  }

  .reviews__link {
    margin-bottom: 235px;
    padding: 15px 32px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-bottom: -24px;
    padding-top: 80px;
    margin-left: 51px;
  }

  .reviews__wrapper-flex {
    margin-right: 151px;
  }

  .reviews__wrapper-content {
    margin-right: -115px;
    margin-left: 127px;
  }

  .reviews__title {
    margin-top: -16px;
    margin-bottom: 47px;

    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    width: 743px;
    margin-bottom: 38px;
  }

  .reviews__autor-link {
    margin-bottom: 94px;
  }

  .reviews__wrapper-button {
    margin-bottom: 104px;
    &::before {
      display: none;
    }
  }

  .reviews__link {
    margin-bottom: 184px;
  }
}
