.site-nav {
  margin-bottom: 0px;

  &--main-page {
    margin-bottom: 6px;
  }
}

.site-nav__list {
  border-bottom: 1px solid $border-color;
}

@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin-bottom: -2px;
  }
}

@media (min-width: $desktop-width) {
  .site-nav {
    width: 1149px;
  }

  .site-nav__list {
    display: flex;

    border-bottom: none;
  }

  .site-nav__item {
    margin-top: 33px;
    margin-bottom: -53px;
    padding: 0;

    border-right: 1px solid #ececec;

    &--reset-border {
      border-right: none;
    }

    &--promo {
      border-bottom: none;
    }

    &--logo {
      order: 3;
      width: 300px;
    }

    &--catalog {
      order: 1;

      background-color: #ffffff;
      border-bottom: 1px solid #ececec;
    }

    &--knitting {
      order: 2;
      width: 230px;

      background-color: #ffffff;
      border-right: none;
      border-bottom: 1px solid #ececec;
    }

    &--search {
      order: 4;
      width: 85px;
    }

    &--basket {
      order: 5;

      border-right: none;
    }

    &--free-delivery {
      order: 8;
      width: 599px;
      padding-top: 25px;
      padding-left: 293px;

      border-right: none;
    }

    &--new-product {
      position: static;

      display: block;
      order: 6;
      width: 263px;
      padding-top: 25px;
      padding-left: 41px;

      font-weight: 700;
      color: #000000;

      background-color: #f1f1f1;
      border-right: none;
      border-bottom: none;
    }

    &--sale {
      position: static;

      display: block;
      order: 7;
      padding-top: 25px;
      padding-left: 41px;

      font-weight: 700;
      color: #000000;

      background-color: #f1f1f1;
      border-right: none;
      border-bottom: none;
    }
  }
}
