.size-list {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin-bottom: 30px;
  margin-left: 38px;
}

.size-list__item {
  position: relative;

  width: 60px;
  margin-right: 26px;
}

.size-list__label {
  color: #000000;

  &::before {
    content: " ";
    position: absolute;
    top: -9px;
    left: -35px;

    width: 82px;
    height: 52px;

    border: 2px solid #444444;
    opacity: 0.1;

    &:hover,
    &:focus {
      border: 1px solid #444444;
      opacity: 0.3;
    }

    &:active {
      border: 2px solid #62d1ba;
    }
  }
}

.size-list__input:hover + .size-list__label::before,
.size-list__input:focus + .size-list__label::before {
  border: 1px solid #444444;
  opacity: 0.3;
}

.size-list__input:active + .size-list__label::before {
  border-color: #62d1ba;
  opacity: 1;
}

@media(min-width: $tablet-width) {
  .size-list {
    width: 390px;
    margin-bottom: 56px;
  }

  .size-list__item {
    margin-right: 63px;
  }

  .size-list__label {
    &:before {
      width: 113px;
    }
  }
}
