.top-week-product {
  margin-bottom: 70px;
}

.top-week-product__title {
  width: 246px;
  margin-bottom: -13px;
  margin-left: 30px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.top-week-product__subtitle {
  margin-bottom: 23px;
  margin-left: 30px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $tiffany-color;
  text-transform: uppercase;
}

.top-week-product__description {
  width: 237px;
  margin-bottom: 20px;
  margin-left: 30px;

  line-height: 24px;
}

.top-week-product__wrapper-image {
  max-width: 260px;
  max-height: 315px;
}

.top-week-product__image {
  margin-bottom: 29px;
  margin-left: 30px;

  background-color: #f1f1f1;
}

.top-week-product__price {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.top-week-product__button {
  margin-left: 31px;
  padding: 14px 80px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $text-color;
  text-transform: uppercase;

  background-color: $main-background;
  border: 2px solid $text-color;

  @include button-style;

  &:hover {
    color: #ececec;

    background-color: #444444;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .top-week-product {
    margin-bottom: 118px;
    margin-left: 18px;
  }

  .top-week-product__wrapper {
    display: flex;
    margin-bottom: 10px;
  }

  .top-week-product__title {
    width: 428px;
    margin-right: 124px;

    font-size: 43px;
    line-height: 50px;
  }

  .top-week-product__subtitle {
    width: 70px;
    margin-top: 50px;

    line-height: 17px;
  }

  .top-week-product__wrapper-flex {
    display: flex;
  }

  .top-week-product__wrapper-description {
    width: 335px;
  }

  .top-week-product__description {
    width: 269px;
    margin-bottom: 44px;

    font-size: 17px;
    line-height: 30px;
  }

  .top-week-product__price {
    margin-bottom: 34px;
    margin-left: 20px;

    font-size: 20px;
  }

  .top-week-product__wrapper-image {
    position: absolute;

    width: 333px;
    height: 404px;
  }

  .top-week-product__image {
    position: absolute;
    top: -297px;
    left: 337px;

    width: 333px;
    height: 404px;
  }

  .top-week-product__button {
    padding: 14px 97px;
  }
}

@media (min-width: $desktop-width) {
  .top-week-product {
    margin-top: 159px;
    margin-bottom: 155px;

    @include page-center;
  }

  .top-week-product__title {
    z-index: 1;

    order: 2;
    width: 539px;
    margin-bottom: 21px;

    font-size: 53px;
    line-height: 57px;
  }

  .top-week-product__wrapper-flex {
    margin-left: 35px;
  }

  .top-week-product__description {
    margin-bottom: 51px;
  }

  .top-week-product__subtitle {
    order: 1;
    margin-top: 59px;
    margin-right: 24px;
    margin-left: -60px;

    line-height: 17px;
  }

  .top-week-product__wrapper-image {
    width: 525px;
    height: 636px;
  }

  .top-week-product__image {
    top: -529px;
    left: 349px;
  }
}
