.user-contacts {
  margin-bottom: 50px;

  @include fieldset-reset;
}

.user-contacts__item {
  position: relative;
  margin-top: 9px;

  margin-bottom: 26px;

  @include margin-reset;
}

.user-contacts__label {
  position: relative;
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $tiffany-color;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 62px;
    width: 178px;
    height: 1px;
    background-color: $tiffany-color;
  }

  &--e-mail {
    &::before {
      left: 78px;
    }
  }
  &--additionally {

    &::before {
      left: 63px;
      width: 196px;
    }
  }
}

.user-contacts__input {
  display: block;
  width: 260px;
  margin-top: -1px;
  padding-top: 15px;
  padding-bottom: 18px;

  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    font-size: 17px;

  }

  &--additionally {
    margin-top: 18px;
    margin-bottom: 64px;
    padding: 12px 15px 85px 15px;
    font-size: 17px;
    line-height: 20px;

    border: 2px solid #000000;
  }

  &:hover,
  &:focus {
    border-color: $tiffany-color;
  }

  &:active {
    border-color: $tiffany-color;
  }
}

.user-contacts__icon {
  position: absolute;
  top: 39px;
  left: 229px;

  fill: #cccccc;
  &--envelope {
    left: 225px;
  }
}

.user-contacts__input:hover + .user-contacts__icon,
.user-contacts__input:focus + .user-contacts__icon,
.user-contacts__input:active + .user-contacts__icon {
  fill: #62d1ba;
}

@media (min-width: $tablet-width) {
  .user-contacts__list {
    background-color: #f1f1f1;
    margin-left: -49px;
    padding-left: 50px;
    padding-top: 59px;
    padding-bottom: 9px;

    &--additionally {
      background-color: $main-background;
      }
  }

  .user-contacts__item {
    display: flex;
    width: 681px;
    margin-bottom: 40px;
  }

  .user-contacts__label {
    width: 98px;
    margin-right: 68px;
    margin-left: 1px;

    &::before {
      display: none;
    }
  }

  .user-contacts__input {
    width: 501px;
    margin-top: -16px;
    padding-top: 15px;
    background-color: #f1f1f1;

    &::placeholder {
      padding-left: 15px;
    }

    &--envelop {
      background-color: #f1f1f1;
      margin-top: -17px;
    }

    &--additionally {
      margin-top: -17px;
      padding: 12px 12px 107px 15px;
      margin-bottom: 135px;
      background-color: $main-background;
    }
  }
  .user-contacts__icon {
    top: -7px;
    left: 617px;

    &--envelope {
      top: -7px;
      left: 614px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-contacts__list {
    margin-left: -151px;
    margin-bottom: 3px;
    padding: 58px 0px 126px 245px;
    background-color: #f1f1f1;

    &--additionally {
      background-color: $main-background;
      margin-bottom: -178px;
    }
  }

  .user-contacts__item {
    margin-left: -131px;
    width: 957px;

    &--e-mail {
      margin-bottom: -76px;
    }
  }

  .user-contacts__label {
    margin-right: 17px;
  }

  .user-contacts__input {
    width: 699px;
  }

  .user-contacts__icon {
    top: -5px;
    left: 779px;
  }
}
