.user-contacts {
  margin-bottom: 50px;

  @include fieldset-reset;
}

.user-contacts__item {
  position: relative;

  margin-bottom: 29px;

  @include margin-reset;
}

.user-contacts__label {
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $tiffany-color;
  text-transform: uppercase;
}

.user-contacts__input {
  display: block;
  width: 269px;
  margin-top: 12px;
  padding-top: 15px;
  padding-bottom: 15px;

  border: none;
  border-bottom: 2px solid #000000;

  &--additionally {
    margin-bottom: 64px;
    padding: 18px 15px 106px 23px;

    border: 2px solid #000000;
  }

  &:hover,
  &:focus {
    border-color: $tiffany-color;
  }

  &:active {
    border-color: $tiffany-color;
  }
}

.user-contacts__icon {
  position: absolute;
  top: 49px;
  left: 240px;

  fill: #cccccc;
}

.user-contacts__input:hover + .user-contacts__icon,
.user-contacts__input:focus + .user-contacts__icon,
.user-contacts__input:active + .user-contacts__icon {
  fill: #62d1ba;
}

@media (min-width: $tablet-width) {
  .user-contacts__item {
    display: flex;
    margin-bottom: 51px;

    &--additionally {
      margin-top: 128px;
    }

    &--tel {
      margin-bottom: -72px;
      margin-left: -142px;
      padding-top: 67px;
      padding-bottom: 123px;
      padding-left: 142px;

      background-color: #f1f1f1;
    }
  }

  .user-contacts__label {
    width: 60px;
    margin-right: 105px;
    margin-left: -34px;
  }

  .user-contacts__input {
    width: 501px;
    margin-top: -12px;

    &--icon-phone {
      padding-top: 15px;
      background-color: #f1f1f1;
    }

    &--icon-envelop {
      background-color: #f1f1f1;
    }
  }

  .user-contacts__wrapper-item {
    background-color: #f1f1f1;
  }

  .user-contacts__icon {
    top: 68px;
    left: 743px;

    &--envelope {
      top: -5px;
      left: 589px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-contacts__item {
    &--tel,
    &--e-mail {
      margin-bottom: -46px;
      margin-left: -142px;
      padding-top: 87px;
      padding-bottom: 48px;
      padding-left: 142px;

      background-color: #f1f1f1;
    }

    &-mail {
      margin-bottom: -74px;
    }
  }

  .user-contacts__label {
    margin-right: 57px;
  }

  .user-contacts__input {
    width: 699px;
  }

  .user-contacts__icon {
    top: 87px;
    left: 884px;
  }
}
