.user-data {
  @include fieldset-reset;
}

.user-data__item {
  margin-bottom: 24px;

  @include margin-reset;
}

.user-data__label {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.user-data__input {
  display: block;
}

@media (min-width: $tablet-width) {
  .user-data {
    display: flex;
  }

  .user-data__list {
    width: 252px;
  }

  .user-data__item {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .user-data__label {
    margin-right: 27px;

    font-size: 19px;
    line-height: 18px;
  }

  .user-data__input {
    width: 626px;
  }
}
